root=true # Настройка, которая должна быть на самлм верху конфига. Если утановлена в true, парсер не будет искать другие конфиги
	  # родительских папках

[*]
end_of_line = lf
insert_final_newline = true # Позволяет убедиться, что в конце файла всегда будет новая строка
indent_style = space # Задаем жесткую или мягкую табуляцию для отсутпов
indent_size = 2 #Задаем ширину отступа используя мягкую табуляцию
charset = utf-8 #Кодировка
trim_trailing_whitespace = true #Убираем пробелы из концов строк
