
.nav-master__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 10px;
}

.button {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 0;
}

.button__item-image {
    width: 100%;
    border: 1.5px solid #000000;
    background-color: #000000;
}
