.promo {
    position: relative;
}

.promo__avatar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.avatar {
    width: 320px;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
}

.avatar__picture {
    opacity: 0.35;
}

.promo__title {
  font-size: 36px;
  color: red;
}
